<footer class="footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col h-100 text-center my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="{{ site.parent_url }}/legal_notice" class="text-muted">{{ site.data.lang.legal_notice }}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{ site.parent_url }}/contact" class="text-muted">{{ site.data.lang.contact }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>