<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/ext/bootstrap.4.4.1.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/ext/font-awesome.5.13.1/css/all.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
    <script src="{{ '/assets/ext/jquery-1.12.4.min.js' | relative_url }}"></script>
    <link rel="alternate" hreflang="{{site.default_lang}}" href="{{ page.permalink | absolute_url }}" />
    {% for lang in site.languages %}
        {% if lang == site.default_lang %}{% continue %}{% endif %}
        <link rel="alternate" hreflang="{{lang}}" href="{{ lang | append: page.permalink | absolute_url }}" />
    {% endfor %}
    <title>
          {{ page.title }} &middot; {{ site.title }}
      </title>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="body-content">
        <main class="p-3">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>

    <script src="{{ '/assets/ext/popper.1.16.0.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/ext/bootstrap.4.4.1.min.js' | relative_url }}"></script>
  </body>
</html>